<div class="h-72 w-56 border rounded-2xl p-3 relative select-none card" (pointermove)="pointerMove($event)" (pointerleave)="pointerLeave($event)">
  <div class="holo-lines"></div>
  <span class="bg-blue-700 badge">{{card.cost}}</span>
  <img [src]="card.image" class="overflow-hidden" alt="">
  <p class="text-center font-bold">{{card.title}}</p>
  @if (unit) {
    <p class="text-center">{{unit.attack}} - {{unit.health}}</p>
  }@else if (spell) {
    <p>{{spell.description}}</p>
  }
  <div class="holo-bg"></div>
</div>
