/* css based on https://codepen.io/konstantindenerz/pen/XWPpvpg
   modified by me */

@property --ratio-x {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --correction {
  syntax: "<percent>";
  inherits: true;
  initial-value: 0%;
}

@property --ratio-y {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

:root {
  --c1: #ddb4eb;
}

.holo-bg {
  position: absolute;
  border-radius: inherit;
  --size: 0;
  top: var(--size);
  right: var(--size);
  bottom: var(--size);
  left: var(--size);
  background:
  /* ellipse at x y, color position%, color position%, color position% */
  /* radial-gradient(
      ellipse at calc(90% - var(--ratio-x) * 20%) calc(0% - var(--ratio-y) * 20%),
      rgba(255, 255, 255, 0.7),
      var(--c1) 1%,
      hsl(306deg 100% 63% / 76%) 20%,
      transparent
    ), */
    linear-gradient(
      110deg,
      #0093ff calc(10% - var(--ratio-x) * 20%),
      #5bd1f5 calc(20% - var(--ratio-x) * 20%),
      #0093ff calc(30% - var(--ratio-x) * 20%),
      hsl(306deg 100% 63% / 76%) calc(60% - var(--ratio-x) * 20%),
      transparent calc(100% - var(--ratio-x) * 20%),
      transparent
    );
  transition: all 0.2s linear, opacity 0.8s ease;
  mix-blend-mode: hard-light;
  opacity: 0.1;
  pointer-events: none;
}

.holo-lines {
  /* mask-image: url(https://assets.codepen.io/907471/holo-card-lines.png?v5); */
  mask-image: url('/images/mask/holo-card-lines.png');
  mask-size: contain;
  mask-repeat: no-repeat;
  content: "";
  position: absolute;
  border-radius: inherit;
  --size: 0.001rem;
  top: var(--size);
  right: var(--size);
  bottom: var(--size);
  left: var(--size);
  pointer-events: none;
  background:
  linear-gradient(
    110deg,
    #2c8bcf calc(10% - var(--ratio-x) * 20% - var(--correction)),
    #4fa8c4 calc(20% - var(--ratio-x) * 20% - var(--correction)),
    #187ec7 calc(30% - var(--ratio-x) * 20% - var(--correction)),
    hsla(192, 83%, calc(77% - 20% * var(--ratio-x)), 1)
      calc(40% - var(--ratio-x) * 20% - var(--correction)),
    transparent calc(60% - var(--ratio-x) * 20% - var(--correction)),
    #f171e0 calc(70% - var(--ratio-x) * 20% - var(--correction)),
    black calc(80% - var(--ratio-x) * 20% - var(--correction))
  );
  transition: all 0.2s linear;
  pointer-events: none;
}

/* text effect currently non functional */
.holo-text{
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background:linear-gradient(
    110deg,
    #2c8bcf calc(10% - var(--ratio-x) * 20% - var(--correction)),
    #4fa8c4 calc(20% - var(--ratio-x) * 20% - var(--correction)),
    #187ec7 calc(30% - var(--ratio-x) * 20% - var(--correction)),
    hsla(192, 83%, calc(77% - 20% * var(--ratio-x)), 1)
      calc(40% - var(--ratio-x) * 20% - var(--correction)),
    transparent calc(60% - var(--ratio-x) * 20% - var(--correction)),
    #f171e0 calc(70% - var(--ratio-x) * 20% - var(--correction)),
    black calc(80% - var(--ratio-x) * 20% - var(--correction))
  );
}

.badge {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0px;
    position: absolute;
    display: block;
    text-align: center;
    z-index: 0;
}

.card {
  pointer-events: all;
  overflow: hidden;

  transform-style: preserve-3d;
  transition: transform 0.1s linear;
  transform: rotateY(calc(-20deg * var(--ratio-x))) rotateX(calc(20deg * var(--ratio-y)));
  --correction: 100%;

  &:hover {
    transform: rotateY(calc(-20deg * var(--ratio-x)))
      rotateX(calc(20deg * var(--ratio-y)));
    --correction: 0%;
    .holo-bg {
      opacity: 0.2;
    }
  }
}

* {
  box-sizing: border-box;
  pointer-events: none;
}
