@import url('./holographic.scss');

.badge {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 0px;
  position: absolute;
  display: block;
  text-align: center;
  z-index: -1;
  top: 1rem;
  left: 1rem;
}

.spell-img{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -2;
  object-fit: cover;
  border-radius: inherit;
  top: 0;
  left: 0;
  /* mask-image: url('/images/mask/spell-mask.svg');
  mask-size: contain;
  mask-repeat: no-repeat; */
}

.card-details{
  width: 28vw;
  height: 36vw;
  /* display: block; */
  /* & img{
    width: 100%;
  } */
  cursor: default;
}

.card-container{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}