<!-- Closeup of card -->
@if (detailsMode) {
  <div [class]="{'details-container':detailsMode}" (click)="closeDetails()" animate.enter="fade-in" animate.leave="fade-out">
    <app-card [card]="card" [cardClasses]="cardClasses"></app-card>
    <div class="tooltip-container flex flex-col space-y-2">
      @if (unit) {
        @for (keyword of unit.keywords; track $index) {
          <p class="text-start tooltip rounded-2xl p-5">
            <span class="text-lg">
              <b>{{keyword}}</b>: {{getKeywordDescription(keyword)}}
            </span>
          </p>
        }
      }
      @for (ability of card.abilities; track $index) {
        @if (ability.event != "On play") {
          <p class="text-start tooltip rounded-2xl p-5">
            <span class="text-lg">
              <b>{{ability.event}}</b>: {{getAbilityDescription(ability)}}
            </span>
          </p>
        }
      }
    </div>
  </div>
}
<!-- Image showcase -->
@if (imageOnly) {
  <div class="showcase w-screen h-screen fixed left-0 top-0 flex items-center flex-col" (click)="toggleShowcase($event)" animate.enter="fade-in" animate.leave="fade-out">
    <img [src]="card.image_full" class="mx-auto object-contain">
    <app-styled-text class="my-auto" [inText]="card.description"></app-styled-text>
  </div>
}

<!-- Actual card structure -->
<div [ngClass]="{'rounded-2xl relative select-none card cursor-pointer bg-gray-900': true, 'card-details':amIDetailsCard()}" (pointermove)="pointerMove($event)" (pointerleave)="pointerLeave($event)" (click)="toggleDetails($event)">
  <!-- holographic effect based on rarity -->
  @switch (this.card.rarity) {
    @case ('Common') {
      <div class="holo-bg bg-common"></div>
    }
    @case ('Rare') {
      <div class="holo-bg bg-rare"></div>
    }
    @case ('Epic') {
      <div class="holo-bg bg-epic"></div>
    }
    @case ('Legendary') {
      <div class="holo-bg bg-legendary"></div>
    }
  }
  <div class="holo-lines"></div>

  <span class="badge">{{card.cost}}</span>

  <img [src]="card.image" [ngClass]="{'overflow-hidden absolute top-0 -z-10':true, 'spell-img':spell}" alt="">

  <!-- Card description start -->
  <div class="absolute bottom-0 w-full py-3 h-3/6 flex flex-col justify-end space-y-1">
    <div class="px-3">
      <p class="text-center font-bold">{{card.title}}</p>
      <!-- Display card abilities -->
      @if (!card.abilities) {
        <p class="text-center text-sm">This unit has no ability.</p>
      }@else {
        @for (ability of card.abilities; track $index) {
          <p class="line-clamp-3 text-sm text-center">
            @if (ability.event != "On play") {
              <span class="text-sm event-text">
                {{ability.event}}:
              </span>
            }
            <app-styled-text [inText]="ability.description"></app-styled-text>
          </p>
        }
      }
      <!-- card abilites end -->
    </div>
    @if (unit) {
      <div class="flex justify-between">
        <span class="atk-stat p-1 px-3 rounded-r-3xl">{{unit.attack}}</span>
            @for (keyword of unit.keywords; track $index) {
              <span class="p-1 px-2 rounded-2xl text-sm keyword">{{keyword}}</span>
            }
        <span class="hp-stat p-1 px-3 rounded-l-3xl">{{unit.health}}</span>
      </div>
    } @else if (spell) {
      <div class="flex justify-center">
        <span class="text-center text-sm p-1 px-3 rounded-2xl keyword">{{spell.element}}</span>
      </div>
    }
  </div>
  <!-- card description end -->
</div>
