@import url('./holographic.scss');
@import url('../../animations/transitions.css');


.badge {
  border-radius: 0% 0% 50% 0%;
  width: 30px;
  height: 30px;
  padding: 0px;
  background-color: #3262a8;
  font-size: 19px;
  position: absolute;
  display: block;
  text-align: center;
  /* z-index: 0; */
  top:0;
  left:0;
}

.spell-img{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -2;
  object-fit: cover;
  border-radius: inherit;
  top: 0;
  left: 0;
  /* mask-image: url('/images/mask/spell-mask.svg');
  mask-size: contain;
  mask-repeat: no-repeat; */
}

.card-details{
  scale: 250%;
  pointer-events: auto;
  &:hover .tooltiptext{
    visibility: visible;
  }
}

.details-container{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

.showcase{
  z-index: 6;
  pointer-events: all;
  & img{
    height: 90%;
  }
}

.event-text{
  font-weight: bold;
  cursor:pointer;
}

.tooltip{
  background-color: rgba(0,0,0,0.8);
}

.tooltip-container{
  z-index: 5;
  width: 15%;
  display: block;
  position: absolute;
  left: 25%;
  top: 25%;
  transform: translate(-50%,0);
}

.keyword{
  background-color: rgba(0,0,0,0.8);
  font-style: italic;
}

.atk-stat{
  background-color: #b8941f;
}

.hp-stat{
  background-color: #822432;
}

