/* css based on https://codepen.io/konstantindenerz/pen/XWPpvpg
   modified by me */

   @property --ratio-x {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }

  // @property --correction {
  //   syntax: "<percent>";
  //   inherits: true;
  //   initial-value: 0%;
  // }

  @property --ratio-y {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }

  $correction: 0%;

  .holo-bg {
    z-index: 2;
    position: absolute;
    border-radius: inherit;
    $size: 0;
    top: $size;
    right: $size;
    bottom: $size;
    left: $size;

    transition: transform 0.2s linear, opacity 1s ease;
    mix-blend-mode: hard-light;
    opacity: 0.1;
    pointer-events: none;

    &.bg-common {
      background:
      radial-gradient(
        ellipse at calc(90% - var(--ratio-x) * 20%) calc(0% - var(--ratio-y) * 20%),
        rgba(255, 255, 255, 0.7),
        white 1%,
        hsla(305, 72%, 90%, 0.76) 20%,
        transparent
      ),
      linear-gradient(
          110deg,
          #2c8bcf calc(10% - var(--ratio-x) * 20%),
          #4fa8c4 calc(20% - var(--ratio-x) * 20%),
          #187ec7 calc(30% - var(--ratio-x) * 20%),
          hsla(192, 72%, 79%, 0.76) calc(60% - var(--ratio-x) * 20%),
          transparent calc(100% - var(--ratio-x) * 20%),
          transparent
        )
    }
    &.bg-rare {
      background: linear-gradient(
          110deg,
          #8ca777 calc(10% - var(--ratio-x) * 20%),
          #68a16b calc(20% - var(--ratio-x) * 20%),
          #1ea127 calc(30% - var(--ratio-x) * 20%),
          hsla(145, 35%, 60%, 0.76) calc(60% - var(--ratio-x) * 20%),
          transparent calc(100% - var(--ratio-x) * 20%),
          transparent
        )
    }
    &.bg-epic {
      background: linear-gradient(
          110deg,
          #8e2ccf calc(10% - var(--ratio-x) * 20%),
          #954fc4 calc(20% - var(--ratio-x) * 20%),
          #9018c7 calc(30% - var(--ratio-x) * 20%),
          hsla(306, 53%, 49%, 0.76) calc(60% - var(--ratio-x) * 20%),
          transparent calc(100% - var(--ratio-x) * 20%),
          transparent
        );
    }
    &.bg-legendary {
      background: linear-gradient(
          110deg,
          #cf962c calc(10% - var(--ratio-x) * 20%),
          #c4af4f calc(20% - var(--ratio-x) * 20%),
          #c78a18 calc(30% - var(--ratio-x) * 20%),
          hsla(4, 100%, 63%, 0.76) calc(60% - var(--ratio-x) * 20%),
          transparent calc(100% - var(--ratio-x) * 20%),
          transparent
        );
    }
  }

  .holo-lines {
    z-index: 3;
    /* mask-image: url(https://assets.codepen.io/907471/holo-card-lines.png?v5); */
    mask-image: url('/images/masks/border-mask.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    content: "";
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background:
    linear-gradient(
      110deg,
      #2c8bcf calc(10% - var(--ratio-x) * 20% - $correction),
      #4fa8c4 calc(20% - var(--ratio-x) * 20% - $correction),
      #187ec7 calc(30% - var(--ratio-x) * 20% - $correction),
      hsla(192, 83%, calc(77% - 20% * var(--ratio-x)), 1)
        calc(40% - var(--ratio-x) * 20% - $correction),
      transparent calc(60% - var(--ratio-x) * 20% - $correction),
      #f171e0 calc(70% - var(--ratio-x) * 20% - $correction),
      black calc(80% - var(--ratio-x) * 20% - $correction)
    );
    transition: 0.2s linear;
    pointer-events: none;
  }

  /* text effect currently non functional */
  /* .holo-text{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background:linear-gradient(
      110deg,
      #2c8bcf calc(10% - var(--ratio-x) * 20% - $correction),
      #4fa8c4 calc(20% - var(--ratio-x) * 20% - $correction),
      #187ec7 calc(30% - var(--ratio-x) * 20% - $correction),
      hsla(192, 83%, calc(77% - 20% * var(--ratio-x)), 1)
        calc(40% - var(--ratio-x) * 20% - $correction),
      transparent calc(60% - var(--ratio-x) * 20% - $correction),
      #f171e0 calc(70% - var(--ratio-x) * 20% - $correction),
      black calc(80% - var(--ratio-x) * 20% - $correction)
    );
  } */


  .card {
    pointer-events: all;
    overflow: hidden;
    transform-style: preserve-3d;
    width: 14rem;
    height: 18rem;
    transition: 1.5s ease-out;
    transform: rotateY(calc(-20deg * var(--ratio-x))) rotateX(calc(20deg * var(--ratio-y)));
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    $correction: 100%;
    &:hover {
      box-shadow: calc(-10px * var(--ratio-x)) calc(-10px * var(--ratio-y)) 5px rgba(0,0,0,0.5);
      transform: rotateY(calc(-20deg * var(--ratio-x)))
        rotateX(calc(20deg * var(--ratio-y)));
        $correction: 0%;
        transition: transform 0.1s linear;
      .holo-bg {
        opacity: 0.15;
      }
    }
  }

  * {
    box-sizing: border-box;
    pointer-events: none;
  }

