<div animate.enter="collection-enter" class="h-screen">
  <div class="w-full text-center cursor-pointer pt-3 back-button" (click)="backClick()">Back to menu 🡅</div>
  <div class="w-screen collection-flex-box">
    <h1 class="text-2xl text-center my-12">Collection:</h1>
    <!-- <div class="flex space-x-2 space-y-2 mt-4 w-full justify-evenly">
      @for (spell of spells; track $index) {
        <app-card [card]="spell"></app-card>
        }
      </div>
      <h1 class="text-2xl">Units:</h1>
      <div class="flex space-x-2 space-y-2 mt-4 w-full justify-evenly flex-wrap">
        @for (unit of units; track $index) {
          <app-card [card]="unit"></app-card>
          }
        </div> -->
    <div class="container mx-auto flex mt-4 w-full justify-evenly flex-wrap space-y-5">
      @for (card of allCards; track $index) {
        <div style="--index: {{$index}}">
          <app-card [card]="card"></app-card>
        </div>
      }
    </div>

  </div>

</div>