<div [class]="{'bg-planet':true, 'planet-normal':!collection, 'planet-up-right': collection, 'planet-up-left': game}"></div>
@if (!game && !collection) {
  <!-- menu -->
  <div class="w-1/2 text-center menu space-y-8" animate.enter="menu-enter" animate.leaving="menu-leave">
    <h1 class="text-5xl mb-16 text-center">Celestial Ascent</h1>
    <button class="border border-blue-500 bg-blue-800 hover:bg-blue-600 rounded p-2 w-48 mx-10 px-5 cursor-pointer" (click)="game = true">Play</button>
    <button class="border border-blue-500 bg-blue-800 hover:bg-blue-600 rounded p-2 w-48 mx-10 px-5 cursor-pointer" (click)="collection = true">Collection</button>
  </div>
}

@if (game){
  <div animate.enter="collection-enter">
    <app-arena></app-arena>
  </div>
}
@else if (collection) {
  <div animate.leave="collection-leave">
    <app-collection [spells]="spells" [units]="units" (back)="collection = false"></app-collection>
  </div>
}
