<div class="m-auto h-20 text-center cursor-pointer pt-3" (click)="backClick()">Back to menu 🡅</div>
<div class="container m-auto h-full">
  <h1 class="text-2xl text-center">Spells:</h1>
  <div class="flex space-x-2 space-y-2 mt-4 w-full justify-center">
    @for (spell of spells; track $index) {
      <app-card [card]="spell"></app-card>
    }
  </div>
  <h1 class="text-2xl text-center">Units:</h1>
    <div class="flex space-x-2 space-y-2 mt-4 w-full justify-center">
    @for (unit of units; track $index) {
      <app-card [card]="unit"></app-card>
    }
    </div>
</div>
